# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Uploaded files
uploaded-files/

# IDE/Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Secrets (if any, e.g., .env files)
.env*